<!doctype html>
<html lang=”en”>
<head>
<meta charset=”utf-8″>
<title>Nature</title>
<meta name=”description” content=”This is the description that search engines will display. Aim for 145-155 characters.”>
<meta name=”author” content=”Insert the content author or owner name here”>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='styles/main.js') }}"></script>
<link rel="stylesheet" href="static/styles/codecss.css">
<link rel="icon" type="image/x-icon" href="/assets/earth_logo.png">
</head>
<body>
  <h1>Welcome {{ name }}</h1>
  <h1> You're signed in</h1>
  <h3>you're ready for action! &#128077;<h3><a href="home">Home</a>
</body>
</html>