<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css') }}">
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat-history">
        {% for post in posts %}
        <div class="text-container">
            <h3>{{ post.message }}</h3>
            <p>{{post.author}}</p>
        </div>
        {% endfor %}
        </div>
        <form id="message-form" action="{{ url_for('send_message') }}" method="POST">
        <input type="text" name="message" placeholder="Type your message here..." required>
        <button type="submit">Send</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='styles/chat.js') }}"></script>
</html>
