<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/games.css') }}">
  <title>Games Hub</title>
  
</head>
<body>
  <h1>Welcome to the Games Hub 🎮</h1>
  <div class="container">
    <section class="games">
        <article>
        <a href="game1">
            <img src="images/bear.jpg" alt="Game 1">
        </a>
        <h2>Trash Pickup with the bear</h2>
        </article>
        <hr />
        <article>
        <a href="game2">
            <img src="images/game2.jpg" alt="Game 2">
        </a>
        <h2>Game 2 Title</h2>
        </article>
        <hr />
    </section>
  </div>
</body>
</html>
