<!doctype html>
<html lang=”en”>
<head>
<meta charset=”utf-8″>
<title>Nature</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='styles/main.js') }}"></script>
<link rel="stylesheet" href="static/styles/game1.css">
<link rel="icon" type="image/x-icon" href="/assets/earth_logo.png">
</head>
    <div class="iframe-container">
        <iframe src="https://scratch.mit.edu/projects/1022841128/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>  
<head>
    <a href="home">Home</a>
</body>
</html>