<!doctype html>
<html lang=”en”>
<head>
<meta charset=”utf-8″>
<title>Nature</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='styles/main.js') }}"></script>
<link rel="stylesheet" href="static/styles/codecss.css">
<link rel="icon" type="image/x-icon" href="/assets/earth_logo.png">
</head>
<body>
  <h1>Welcome To 🌎 Nature Talk</h1>
  <hr />
  <nav>
    <ul>
      <li><a href="chat">Chat</a></li>
      <li><a href="about">Act now</a></li>
      <li><a href="mission">Mission</a></li>
      <li><a href="qna">Q&A</a></li>
      <li><a href="games">Games</a></li>
      <li><a href="account">Account</a></li>
      <li><a href="test_vid">Live Cam</a></li>
      <li><a href="sus_music">Music</a></li>
      <li><a href="pollution_cal">Sustainability Calulator</a></li>
      <li><a href="list">Sustainability Goals</a></li>
    </ul>
  </nav>
  <hr />
</body>
<head>
    <title>Center YouTube Video</title>
    <style>
        .video-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            margin: 0 auto; /* Center the container horizontally */
        }
        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GSRp-o8gws8?si=p4Chbx6jBY-RXWHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</body>
</html>