<!doctype html>
<html lang=”en”>
<head>
<meta charset=”utf-8″>
<title>Nature</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='styles/main.js') }}"></script>
<link rel="stylesheet" href="static/styles/codecss.css">
<link rel="icon" type="image/x-icon" href="/assets/earth_logo.png">
</head>
<body>
  <h1>Pollution Calulator 🔎 🗑</h1>
  <hr />
  <a href="home">Home</a>
  <hr />
  <body>
    <form method="POST">  <label for="user_input">Enter :</label>
        <input type="text" id="user_input" name="user_input" placeholder="Enter text here">
        <button type="submit">Submit</button>
    </form>
</body>
</html>

