<!doctype html>
<html lang=”en”>
<head>
<meta charset=”utf-8″>
<title>Nature</title>
<meta name=”description” content=”This is the description that search engines will display. Aim for 145-155 characters.”>
<meta name=”author” content=”Insert the content author or owner name here”>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="static/styles/signed_in.css">
<link rel="icon" type="image/x-icon" href="/assets/earth_logo.png">
</head>
<body>
  <hr />
  <h1>Your signed in please continue.</h1>
  <a href="chat">Back</a>
  <hr />
</body>
</html>