body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 81, 0);
}

#chat-history {
    border: 1px solid #838383;
    padding: 10px;
    height: 300px;
    overflow-y: scroll; /*scrolling for chat history */
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message.self {
    background-color: #eee;
    text-align: right;
}

.message.other {
    background-color: #f5f5f5;
}

.text-container {
    display: flex;
}

.text-container {
    display: flex;
    /* style post message here */
  }
  
  .text-container p.author {
    background-color: rgb(4, 81, 0); 
    padding: 5px 10px;  
    margin-top: 10px;  
    font-style: italic;  
  }
  